
<%- include('partials/header') %>
<center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Welcome To Online Mentoring System !!!</h1>
</center>


<%- include('partials/footer') %>
